*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.container{width:100%;margin:0 auto;}
.text-header{
	height: 54px;
	background-color: #2eb6a8;
	color: #ffffff;
	font-size: 18px;
}
.text-header p{

	padding-top: 15px;
    padding-left: 5px;
}
.text-footer{
	 height: 80px;
	 background-color: #e1f3f2;
	 font-size: 20px;
	 color: #f8ae18;
	 margin: 0 auto;

}
.text-footer p{
	text-align: center;
    line-height: 80px;
}
