<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						 <div class="layui-form-item">
							 <label class="layui-form-label">活动</label>
							 <div class="layui-input-block">
								 <select name="act_id" lay-filter="aihao">
									 <option value="">请选择</option>
									 <foreach name="act" item="vo">
										 <option value="{$vo['id']}" {$vo['selected']}>{$vo['title']}</option>
									 </foreach>

								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">选项标题</label>
							 <div class="layui-input-block">
								 <input type="text" name="title"  required
										autocomplete="off" placeholder="选项标题" class="layui-input" value="{$info['title']}">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">概率</label>
							 <div class="layui-input-block">
								 <input type="text" name="chance"  required
										autocomplete="off" placeholder="请输入奖项概率" class="layui-input" value="{$info['chance']}">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">功能</label>
							 <div class="layui-input-block">
								 <select name="functions" lay-filter="aihao">
									 <option value="">请选择</option>
									 <option value="0">无</option>
									 <foreach name="function" item="vo">
										 <option value="{$vo['id']}" {$vo['selected']}>{$vo['title']}</option>
									 </foreach>

								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">功能参数</label>
							 <div class="layui-input-block">
								 <input type="text" name="functions_field"  required
										autocomplete="off" placeholder="请输入功能参数" class="layui-input" value="{$info['functions_field']}">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">是否添加记录</label>
							 <div class="layui-input-block">
								 <select name="add" lay-filter="aihao">
									 <option value="">请选择</option>
									 <option value="1" {$info['y']}>添加</option>
									 <option value="2" {$info['n']}>不添加</option>

								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">图片</label>
							 <img id="LAY_demo_upload" src="{$info['img']}" style="height:200px;"  >
							 <input type="hidden" name="img" id="upLogo" value="{$info['img']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img">
						 </div>
						 <div class="layui-form-item layui-form-text">
							 <label class="layui-form-label">备注</label>
							 <div class="layui-input-block">
								 <textarea name="note" placeholder="请输入内容" class="layui-textarea">{$info['note']}</textarea>
							 </div>
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">详情</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea layui-hide"  name="text" lay-verify="note" id="LAY_demo_editor1" >{$info['text']}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;
                    upLogo.value = res.data.src;
			    }
			});
			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	data.field.text = layedit.getContent(editIndex1);
				 	var bannerInfo = data.field;
				 	if(bannerInfo.id){
				 	    var url = "{:U('option_edit')}";
					}else{
                        var url = "{:U('option_add')}";
					}

					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});


		});


		</script>
	</body>

</html>