<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
				<button  class="layui-btn layui-btn-small" onclick="javascript:window.location.href='{:U('option_add')}' ">
					<i class="layui-icon">&#xe608;</i>添加选项
				</button>
				<form class="layui-form" style="float:right">
					<span style="float:right" >
						<div class="layui-input-inline">
							<select name="act_id" lay-filter="aihao">

									 <option value="">请选择所属活动</option>
									 <foreach name="act" key="k" item="vo">
										 <option value="{$vo['id']}" {$vo['selected']} >{$vo['title']}</option>
									 </foreach>

							 </select>
						</div>
					<button class="layui-btn layui-btn-normal">搜索</button>
					</span>
				</form>

			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>选项列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
							<tr>
							  <th>id</th>
							  <th>所属活动</th>
							  <th>标题</th>
							  <th>图片</th>
							  <th>概率</th>
							  <th>中奖人次</th>
							  <th>方法</th>
							  <th>是否记录</th>
								<th>操作</th>
							</tr>
					  </thead>
					  <tbody>
					  <foreach name="list" key="k" item="vo">
					    <tr>
					      <td>{$vo.id}</td>
					      <td>{$vo.do_act}</td>
						  <td>{$vo.title}</td>
							<td id="img_{$vo['id']}"><img src="{$vo.img}" onclick="fd_img('#img_{$vo['id']}')" style="width: 60px;height: 24px;cursor: pointer;" /></td>
						  <td>{$vo.chance}</td>
						  <td>{$vo.record}</td>
						  <td>{$vo.functions}</td>
						  <td>{$vo.add}</td>
					      <td>
								<a class="layui-btn layui-btn-mini layui-btn-normal"  onclick="javascript:window.location.href='{:U('option_edit',['id'=>$vo['id']])}' "><i class="layui-icon">&#xe642;</i>编辑</a>
							  	<a data="{$vo.id}"  class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>

					      </td>
					    </tr>
					    </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
                var laypage = layui.laypage,
                    $ = layui.jquery
                //删除
                $('.del').click(function () {
                    var id = $(this).attr('data');
                    var status = $(this).attr('data-s');
                    var url = "{:U('option_del')}";
                    layer.confirm('确定删除该选项吗', {
                        icon: 3,
                        skin: 'layer-ext-moon',
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        $.post(url, {id: id, status: status}, function (data) {
                            if (data.status == 'error') {
                                layer.msg(data.msg, {icon: 5});//失败的表情
                                return;
                            } else {
                                layer.msg(data.msg, {
                                    icon: 6,//成功的表情
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    location.reload();
                                });
                            }
                        })
                    });
                });


            })
            function fd_img(obj) {
                layer.photos({
                    photos: obj, anim: 7, shade: [0.5, '#000000']
                });
            }

		</script>
	</body>

</html>