<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
				<form class="layui-form" style="float:right">
					<span style="float:right" >
						<div class="layui-input-inline">
							<input type="text" name="phone" value="{$_GET['phone']}" lay-verify="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<input type="text" name="uid" value="{$_GET['uid']}" lay-verify="uid" autocomplete="off" placeholder="请输入用户id" class="layui-input">
						</div>
					<button class="layui-btn layui-btn-normal">搜索</button>
					</span>
				</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>获奖记录列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
							<tr>
								<th>id</th>
								<th>时间</th>
								<th>用户id</th>
								<th>手机</th>
								<th>活动</th>
								<th>奖项名称</th>
								<th>状态</th>
							</tr>
					  </thead>
					  <tbody>
					  <foreach name="list" key="k" item="vo">
							<tr>
								  <td>{$vo.id}</td>
								  <td>{$vo.inputtime}</td>
								  <td>{$vo.user_id}</td>
								  <td>{$vo.phone}</td>
								  <td>{$vo.do_act_id}</td>
								  <td>{$vo.title}</td>
								  <td>
									  <if condition="$vo['status'] eq 1 ">
										  <a data="{$vo.id}"  class="layui-btn layui-btn-normal layui-btn-mini del">未发放</a>
									  <else/>
										  <a  class="layui-btn layui-btn-normal layui-btn-mini ">已发放</a>
									  </if>


								  </td>
							</tr>
					  </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery 
				//删除
				$('.del').click(function(){
					var id = $(this).attr('data');
					var url = "{:U('send')}";
					layer.confirm('确定更改奖品发放状态么？', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{id:id},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										}); 
								  }	
							})
					  });
				})
			});
			function fd_img(obj){
				layer.photos({
					photos: obj, anim:7,shade:[0.5, '#000000']
				});
			}
		</script>
	</body>

</html>