<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
				<form class="layui-form">
					<span>
						<input type="button" class="layui-btn layui-btn-primary layui-btn-mini"  onclick="window.location.href='?type=buy'" value="BUY列表">
						<input type="button" class="layui-btn layui-btn-primary layui-btn-mini"  onclick="window.location.href='?type=sell'" value="SELL列表">
					</span>
					<span style="float: right">
						<div class="layui-input-inline">
							<input type="text" name="uid" value="{$_GET['uid']}" lay-verify="title" autocomplete="off" placeholder="请输入用户ID" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<select name="currency_id" lay-filter="aihao">
								<option value="0">---请输入币种---</option>
								<volist name="currency_list" id="vo">
									<option value="{$vo['id']}" <if condition="$_GET['currency_id'] eq $vo['id']" > selected="selected" </if> >{$vo['name']}({$vo['mark']})</option>
								</volist>
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="buy_currency_id" lay-filter="aihao">
								<option value="0">---请输入买入币种---</option>
								<volist name="currency_list" id="vo">
									<option value="{$vo['id']}" <if condition="$_GET['buy_currency_id'] eq $vo['id']" > selected="selected" </if> >{$vo['name']}({$vo['mark']})</option>
								</volist>
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="status" lay-filter="aihao">
								<option value="0" >---请输入状态---</option>
								<option value="1" <if condition="$_GET['status'] eq 1" > selected="selected" </if>>挂单</option>
								<option value="2" <if condition="$_GET['status'] eq 2" > selected="selected" </if>>部分成交</option>
								<option value="-1" <if condition="$_GET['status'] eq -1" > selected="selected" </if>>撤单</option>
							</select>
						</div>
					<button class="layui-btn layui-btn-normal">搜索</button>
					</span>
					
				</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend><button class="layui-btn layui-btn-mini layui-btn-normal">{$type}</button>委托记录</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>委托编号</th>
					      <th>用户UID</th>
					      <th>用户手机号码</th>
					      <th>币种</th> 
					      <th>买入币种</th> 
					      <th>价格</th> 
					      <th>挂单数量</th>
					      <th>成交数量</th>
					      <th>类型</th>
					      <th>挂单时间</th>
					      <th>状态</th>
					      <th>操作</th>
					    </tr> 
					  </thead>
					  <tbody>
					  <foreach name="order_list" key="k" item="vo">
					    <tr>
					      <td>{$vo['id']}</td>
					      <td>{$vo['uid']}</td>
					      <td>{$vo['phone']}</td>
					      <td>{$vo['currency_name']}</td>
					      <td>{$vo['buy_currency_name']}</td>
					      <td>{$vo['price']}</td> 
					      <td>{$vo['num']}</td> 
					      <td>{$vo['trade_num']}</td> 
					      <td>{$type}</td> 
					      <td>{$vo['add_time']|date="Y-m-d H:i:s",###}</td> 
					      <td><button class="layui-btn layui-btn-small">{$vo['status']|formartOrderStatus=###}</button></td>
					      <td>
					      <if condition="$vo['status'] neq -1">
								<a data="{$vo.id}" data-s="{$vo.uid}"  class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon"></i>撤销</a>
					      </if>
					      </td>
					    </tr>
					    </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1"><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0"
				{$page}
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery 
				//删除
				$('.del').click(function(){
					var orderId = $(this).attr('data');
					var uid = $(this).attr('data-s');
					var type = "{:strtolower($type)}";
					var url = "{:U('Orders/revokeOrders')}";
					layer.confirm('确定撤销此笔挂单信息吗?', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{uid:uid,orderId:orderId,type:type},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										}); 
								  }	
							})
					  });
				})
			});
			function fd_img(obj){
				layer.photos({
					photos: obj, anim:7,shade:[0.5, '#000000']
				});
			}
		</script>
	</body>

</html>