<div class="footer">
    <div class="container">
        <div class="footer-nav clearfix">
            <div class="footer-list footer-list1 wow fadeInUp time03">
                <p>总公司服务热线：{$config['WEB_PHONE']}</p>
                <p>服务时间：{$config['TIME']}</p>
                <p>Email:{$config['WEB_EMAIL']}</p>
                <p>传真：{$config['CHUAN_ZHEN']}</p>
            </div>
            <div class="footer-list footer-list2 wow fadeInUp time05">
                <!-- <p><a href="cn/map.html">网站地图</a></p> -->
                <p><a href="{:U('config_index',['name'=>'WEB_USE_ITEM','title'=>'使用条款'])}">使用条款</a></p>
                <p><a href="{:U('config_index',['name'=>'WEB_SAFE','title'=>'保密及安全'])}">保密及安全</a></p>
            </div>
            <div class="footer-list footer-list3 wow fadeInUp time07">
                <p><a target="_blank" href="{$config['WEB_VALUE1']}">{$config['WEB_TITLE_1']}</a></p>
                <p><a target="_blank" href="{$config['WEB_VALUE2']}">{$config['WEB_TITLE_2']}</a></p>

            </div>
            <div class="footer-wechat wow fadeInUp time09">
                <img src="{$config['ER_WEI_MA']}" alt="">
                <p>关注我们</p>
            </div>
        </div>
        <div class="footer-copyright clearfix wow fadeInUp time11">
            <div class="footer-copy">{$config['WEB_FOOTER']}</div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/police/js/jwplayer/jwplayer.js"></script>
<script src="__PUBLIC__/police/js/jwplayer/jwpsrv.js"></script>
<script src="__PUBLIC__/police/cn/js/jquery.min.js"></script>
<script src="__PUBLIC__/police/cn/js/stickUp.min.js"></script>
<script src="__PUBLIC__/police/cn/js/owl/owl.carousel.js"></script>
<script src="__PUBLIC__/police/cn/js/wow.min.js"></script>
<script src="__PUBLIC__/police/cn/js/main.js"></script>


</body>
</body>
</html>
<script>
    $(function(){
        $("#search").click(function(){
            var kw = $("#keyword").val()
            if(kw=='') return;
            var url = '/Home/Index/search?keyword='+kw;
            window.open(url)
        });
    });
</script>