<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>上海市保安服务总公司</title>
    <link rel="shortcut icon" href="__PUBLIC__/police/cn/images/favicon.png">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/js/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/js/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/response.css">
</head>
<body>
<div class="header">
    <div class="topbar wow fadeInDown">
        <div class="container">
            <div class="top-tel"><i class="iconfont icon-dianhua"></i>服务热线：4009208110</div>
            <div class="top-subnav">
                <ul>
                    <li><a href="cn">中文版</a></li>
                    <li><a href="en">English</a></li>
                    <li>
                        <input id="keyword" type="text" placeholder="请输入关键字">
                        <a id="search" class="serch-icon" href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-wrapper clearfix">
        <div class="container">
            <h1 class="logo"><a href="javascript:;"><img src="__PUBLIC__/police/cn/images/logo.jpg" alt="上海保安"></a></h1>
            <a class="nav-btn" href="javascript:void(0);">
                <span></span><span></span><span></span>
            </a>
            <ul class="nav">
                <li ><a href="index.html">首页</a></li>
                <li ><a href="news-qyxw-1.html">要闻动态</a></li>
                <li class="{$now_our}"><a href="{:U('our')}">关于我们</a></li>
                <li ><a href="31.html">一站式服务</a></li>
                <li  class ="{$now_case}"><a href="{:U(cases)}">经典案例</a></li>
                <li  class="{$now_recruit}"><a href="{:U(recruit)}">诚聘英才</a></li>
            </ul>
        </div>
    </div>
</div>
