<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$config['WEB_TITLE_EN']}</title>
    <link rel="shortcut icon" href="__PUBLIC__/police/cn/images/favicon.png">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/js/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/js/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/police/cn/css/response.css">
</head>
<body>
<div class="header">
    <div class="topbar wow fadeInDown">
        <div class="container">
            <div class="top-tel"><i class="iconfont icon-dianhua"></i>hotline：{$config['WEB_PHONE']}</div>
            <div class="top-subnav">
                <ul>
                    <li><a href="{:U('/Home/Index/index')}">Chinese version</a></li>
                    <li><a href="{:U('/Home/Eng/index')}">English</a></li>
                    <li>
                        <input id="keyword" type="text" placeholder="Please enter the keyword">
                        <a id="search" class="serch-icon" href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-wrapper clearfix">
        <div class="container">
            <h1 class="logo"><a href="javascript:;"><img src="{$config['WEB_LOGO']}" alt="{$config['WEB_TITLE']}"></a></h1>
            <a class="nav-btn" href="javascript:void(0);">
                <span></span><span></span><span></span>
            </a>
            <ul class="nav">
                <li  class="{$now_index}"}><a href="{:U('index')}">{$config['D_INDEX_EN']}</a></li>
                <li class="{$now_news}"><a href="{:U('news')}">{$config['D_NEWS_EN']}</a></li>
                <li class="{$now_our}"><a href="{:U('our')}">{$config['D_OUR_EN']}</a></li>
                <li class="{$now_one}"><a href="{:U('one')}">{$config['D_ONE_EN']}</a></li>
                <li  class ="{$now_case}"><a href="{:U(cases)}">{$config['D_CASE_EN']}</a></li>
                <li  class="{$now_recruit}"><a href="{:U(recruit)}">{$config['D_RECRUIT_EN']}</a></li>
            </ul>
        </div>
    </div>
</div>
