<include file="Application/Home/View/Public/head1.html"/>
<div class="inside-banner case-banner clearfix">
		<div class="container">
			<h2 class="wow fadeInUp">{$config['D_CASE']}</h2>
			<p class="wow fadeInUp"><span>{$config['WEB_TITLE_EN']}</span><span>{$config['D_CASE_EN']}</span></p>
		</div>
	</div>
	<div class="container clearfix">
		<div class="sub-nav wow fadeInLeft">
			<h3>{$config['D_CASE']}</h3>
			<ul id="cccc">
				<foreach name="type" item="vo" >
					<li class=""><a href = "{:U('cases',['case_id'=>$vo['id']])}"><span>&gt;</span>{$vo['title']}</a></li>
				</foreach>
			</ul>
		</div>
		<div class="inside-right case wow fadeInRight">
			<div class="title clearfix">
				<h4>{$title}</h4>
				<div class="crumbs">
					<a href="{:U('index')}">{$config['D_INDEX']}</a>&gt;<a href="javascript:;">{$config['D_CASE']}</a>&gt;<span>{$title}</span>
				</div>
			</div>
			<div class="content">
				<div class="owl-carousel owl-theme banner-carousel news-carousel">
					<foreach name="content" item="vo" >
						<div class="item">
							<img class="owl-lazy" src="{$vo['img']}" alt="">
							<p>{$vo['title']}</p>
						</div>
					</foreach>

				</div>
			</div>
		</div>
	</div>
<include file="Application/Home/View/Public/foot1.html"/>
<script>
    jQuery(function($) {
        //轮播图
        $(".banner-carousel").owlCarousel({
            items:1,
            nav:true,
            navText:["<i class='iconfont icon-zuo'></i>","<i class='iconfont icon-gengduo'></i>"],
            rewind:true,
            autoHeight:true,
            autoplay:true,
            lazyLoad:true
        });
    });
</script>
<script> $('#cccc li').click(function () { var f = this; $('#cccc li').each(function () { this.className = this == f ? 'aaa' : 'bbb' }); }); </script>