<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>股票设置预览</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
							<th>点买金额</th>
					      	<th>杠杆倍数</th>
					      	<th>保证金</th>
					      	<th>触发止盈</th>
					      	<th>触发止损</th>
					      	<th>交易综合费</th>
					      	<th>递延条件</th>
					      	<th>递延费用（单价）</th>
					      	<th>递延费用（总价）</th>
					    </tr>
					  </thead>
					  <tbody>
						  <foreach name="list" key="price" item="vo">
							  <foreach name="vo" key="times" item="voo">
								  <tr>
									  <td>{$price}</td>
									  <td>{$times}</td>
									  <td>{$voo['bond']}</td>
									  <td>{$voo['profit']}</td>
									  <td>{$voo['loss']}</td>
									  <td>{$voo['routine']}</td>
									  <td>{$voo['delay_loss']}</td>
									  <td>{$voo['delay_price']}</td>
									  <td>{$voo['delay_price_z']}</td>

								  </tr>
							  </foreach>

						  </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery 
				//删除
				$('.del').click(function(){
					var id = $(this).attr('data');
					var url = "{:U('Admin/shop/typeDel')}";
					layer.confirm('确定删除此商品分类吗?', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{id:id},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										}); 
								  }	
							})
					  });
				})
			});
		</script>
	</body>

</html>