.reduce-introduce {width:550px; display: table; margin-top: 30px;}
.reduce-introduce h1 {font-size: 22px; color: #202020;line-height: 35px;}
.reduce-introduce p {font-size: 14px; line-height:24px; color: #202020;}