<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						 <input type="hidden" name="type_id" value="{$type_id}">
						 <div class="layui-form-item">
							 <label class="layui-form-label">标题</label>
							 <div class="layui-input-block">
								 <input type="text" name="title"  required
										autocomplete="off" placeholder="标题" class="layui-input" value="{$info['title']}">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">标题(英文)</label>
							 <div class="layui-input-block">
								 <input type="text" name="title_en"  required
										autocomplete="off" placeholder="标题(英文)" class="layui-input" value="{$info['title_en']}">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">图片</label>
							 <img id="LAY_demo_upload" src="{$info['img']}" style="height:200px;"  >
							 <input type="hidden" name="img" id="upLogo" value="{$info['img']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">视频</label>
							 <video id="example_video" class="video-js" poster="{$info['img']}" preload="none" controls="controls" width="300" height="150" data-setup="{}">
								 <source src="{$info['video']}" type="video/mp4" class="info" id="bofang">
							 </video>
							 <input type="hidden" name="video" id="video_hidden" value="{$info['video']}"/>
							 <input type="file" id="file" accept="video/*" name="file"/>
							 <div onclick="aaa()" style="background-color: red;cursor: pointer">视频上传</div>

						 </div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
					<!--<form action="{:U('Admin/Index/uploadFile')}" method="post" enctype="multipart/form-data">-->
						<!--<label for="file">视频:</label>-->
						<!--<input type="file" id="file" accept="video/*" name="file"/>-->
						<!--<div onclick="aaa()" style="background-color: red;cursor: pointer">视频上传</div>-->
					<!--</form>-->
				</div>
			</fieldset>
			<button type="button" class="layui-btn" id="test5"><i class="layui-icon"></i>上传视频</button>
		</div>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit,
                upload = layui.upload;
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;//图片展示
                    example_video.poster = res.data.src;//视频封面图
                    upLogo.value = res.data.src;//隐藏域
			    }
			});
			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			});
            var editIndex2 = layedit.build('LAY_demo_editor2',{
                uploadImage:{url:"{:U('Index/uploadAllImg')}"}
            });
			//监听提交
			form.on('submit(subBanner)', function(data) {
				 	data.field.content = layedit.getContent(editIndex1);
				 	data.field.content_en = layedit.getContent(editIndex2);
				 	var bannerInfo = data.field;
				 	if(bannerInfo.id){
				 	    var url = "{:U('news3_edit')}";
					}else{
                        var url = "{:U('news3_add')}";
					}

					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								});
						  }
					})
				return false;
			});


		});


        function aaa(){
            var fileSize = document.getElementById('file').files[0].size;
            var fd = new FormData();
			fd.append("file", document.getElementById('file').files[0]);
            $.ajax({
                url:"{:U('Admin/Index/uploadFile')}",
                type:"POST",
                data:fd,
                dataType:'json',
                processData:false,
                contentType:false,
                cache:false,
                success:function(data){
					if(data.code == 0){
						$('#video_hidden').attr("value",data.data.src);//隐藏域
						$('#bofang').attr('src',data.data.src);
						//data.msg
					}else{
					    //load 结束
					}
                },
                error:function(error){
                }
            });
        }


		</script>

		<!--<script type="text/javascript" src="__PUBLIC__/file/layer/layer.js"></script>-->
		<!--<script type="text/javascript" src="__PUBLIC__/file/layui/layui.js"></script>-->
	</body>

</html>