<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">

			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>客户推广树</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>用户id</th>
					      <th>手机</th>
					      <th>代理等级</th>
					      <th>注册时间</th>
					      <th>详情</th>
						</tr>
					  </thead>
					  <tbody>
					  <foreach name="data" key="k" item="vo">
					    <tr>
					      <td>{$vo.id}</td>
					      <td>{$vo.str}{$vo.phone}</td>
						  <td>{$vo.class_name}</td>
						  <td>{$vo.inputtime}</td>
						  <td>
							<a class="layui-btn layui-btn-mini layui-btn-normal"  onclick="javascript:window.location.href='{:U('Consumer/consumerList',['phone'=>$vo['phone']])}' "><i class="layui-icon">&#xe642;</i>详情</a>

					      </td>

					    </tr>
					    </foreach>
					  </tbody>
				</table>

				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery
				//删除
				$('.del').click(function(){
					var id = $(this).attr('data');
					var status = $(this).attr('data-s');
					var url = "{:U('Consumer/consumerDel')}";
					layer.confirm('确定禁用该用户么吗', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{id:id,status:status},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										});
								  }
							})
					  });
				});

                $('.reset').click(function(){
                    var id = $(this).attr('data');
                    var status = $(this).attr('data-s');
                    var url = "{:U('Consumer/consumerReset')}";
                    layer.confirm('确定启用该用户么吗', {
                        icon: 3,
                        skin: 'layer-ext-moon',
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        $.post(url,{id:id,status:status},function(data){
                            if(data.status == 'error'){
                                layer.msg(data.msg,{icon: 5});//失败的表情
                                return;
                            }else{
                                layer.msg(data.msg, {
                                    icon: 6,//成功的表情
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    location.reload();
                                });
                            }
                        })
                    });
                })
			});
			function fd_img(obj){
				layer.photos({
					photos: obj, anim:7,shade:[0.5, '#000000']
				});
			}
		</script>
	</body>

</html>