<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						<div class="layui-form-item">
							<label class="layui-form-label">手机号</label>
							<div class="layui-input-block">
								<input type="text" name="phone"  required
									autocomplete="off" placeholder="注册手机号" class="layui-input" value="{$info['phone']}">
							</div>
						</div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">推荐人id</label>
							 <div class="layui-input-block">
								 <input type="text" name="referee_id"  value="{$info['referee_id']}" required
										autocomplete="off" placeholder="请输入推荐人手机号" class="layui-input" disabled>
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">姓名</label>
							 <div class="layui-input-block">
								 <input type="text" name="name"  value="{$info['name']}" required
										autocomplete="off" placeholder="请输入推荐人手机号" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">身份证</label>
							 <div class="layui-input-block">
								 <input type="text" name="idcard"  value="{$info['idcard']}" required
										autocomplete="off" placeholder="请输入推荐人手机号" class="layui-input" >
							 </div>
						 </div>

						<div class="layui-form-item" style="margin-bottom: 0;">
							<label class="layui-form-label" style="float: left;">银行卡设置</label>
							<div style="float: left;width: calc(100% - 110px);" class="layui-form-pane">
								<div style="width: 100%;display: table;" id="allbank">
									<foreach name="info['bank_info']" item="vo" key="k">
										<div class="bankone" style="width: 100%;display: table;">
											<div class="layui-form-item" style="width: 275px;float: left;clear:none;">
												<label class="layui-form-label">总行名称</label>
												<div class="layui-input-inline" style="width: 140px;">
													<input type="text" name="bank_name{$k}" lay-verify="required" placeholder="请输入总行名称" autocomplete="off" class="layui-input" value="{$vo['bank_name']}">
												</div>
											</div>
											<div class="layui-form-item" style="width: 400px;float: left;clear:none;">
												<label class="layui-form-label">银行卡号</label>
												<div class="layui-input-inline" style="width: 275px;">
													<input type="text" name="bank_number{$k}" lay-verify="required" placeholder="请输入银行卡号" autocomplete="off" class="layui-input" value="{$vo['bank_number']}">
												</div>
											</div>
											<input type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="shanchu('bank_name{$k}','bank_number{$k}')" value="删除"/>
										</div>
									</foreach>
								</div>
							</div>
						</div>
						<input class="layui-btn layui-btn-normal" style="margin-left: 110px;margin-bottom:15px;" value="添加银行卡" onclick="add_bank()" />
						 <div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit

			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				var all = $('.layui-form').serialize();
				$.ajax({
					url:"Admin/Setting/edit?edit=1&" + all,
					dataType: "json",
					type: "GET",
					success: function(reg) {
						console.log(reg)
						if(reg.status == 'error'){
							layer.msg(reg.msg,{icon: 5});//失败的表情
							return;
						}else{
							layer.msg(reg.msg, {
								icon: 6,//成功的表情
								time: 2000 //2秒关闭（如果不配置，默认是3秒）
							}); 
						}
					}
				});
			});
		});
		</script>
		<script type="text/javascript">
			function shanchu(a,b){
				layui.use('layer', function(){ //独立版的layer无需执行这一句
					var $ = layui.jquery, layer = layui.layer;
					layer.open({
						type: 1
						,title: '操作提示'
						,id: 'layerDemo2' //防止重复弹出
						,offset:'auto'
						,content: '<div style="padding: 20px 100px;">确定要删除本条信息吗</div>'
						,btn: ['确定', '取消']
						,btnAlign: 'c' //按钮居中
						,shade:0.5 //不显示遮罩
						,success: function(layero){
							var btn = layero.find('.layui-layer-btn');
							btn.find('.layui-layer-btn0').attr({
								onclick: 'sureshanchu(\''+ a +'\',\''+ b +'\')'
							});
						}
				    });
				});
			}
			function sureshanchu(a,b){
				$("input[name='"+ a +"']").parents(".bankone").css('display','none');
				$("input[name='"+ a +"']").val('#无');
				$("input[name='"+ b +"']").val('#无');
			}
			function add_bank(){
				var length = $('#allbank .bankone').length;
				var bank_name = 'bank_name' + length;
				var bank_number = 'bank_number' + length;
				var html = '<div class="bankone" style="width: 100%;display: table;"><div class="layui-form-item" style="width: 275px;float: left;clear:none;"><label class="layui-form-label">总行名称</label><div class="layui-input-inline" style="width: 140px;"><input type="text" name="'+ bank_name +'" lay-verify="required" placeholder="请输入总行名称" autocomplete="off" class="layui-input" value=""></div></div><div class="layui-form-item" style="width: 400px;float: left;clear:none;"><label class="layui-form-label">银行卡号</label><div class="layui-input-inline" style="width: 275px;"><input type="text" name="'+ bank_number +'" lay-verify="required" placeholder="请输入银行卡号" autocomplete="off" class="layui-input" value=""></div></div><input type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="shanchu(\''+ bank_name +'\',\''+ bank_number +'\')" value="删除"/></div>';
				$('#allbank').append(html);
			}
		</script>
	</body>

</html>