<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						<div class="layui-form-item">
							<label class="layui-form-label">手机号</label>
							<div class="layui-input-block">
								<input type="text" name="phone"  required
									autocomplete="off" placeholder="注册手机号" class="layui-input" value="{$info['phone']}">
							</div>
						</div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">密码</label>
							 <div class="layui-input-block">
								 <input type="password" name="password"  value="{$info['password']}" required
										autocomplete="off" placeholder="请输入密码" class="layui-input" >
								 <p>为空使用默认密码abc123456</p>
							 </div>

						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">确认密码</label>
							 <div class="layui-input-block">
								 <input type="password" name="password1"  value="{$info['password1']}" required
										autocomplete="off" placeholder="请输入确认密码" class="layui-input" >
								 <p>为空使用默认密码abc123456</p>
							 </div>

						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">推荐人手机号</label>
							 <div class="layui-input-block">
								 <input type="text" name="referee_id"  value="{$info['referee_id']}" required
										autocomplete="off" placeholder="请输入推荐人手机号" class="layui-input" >
								 <p>填写‘0’，为无推荐用户</p>
							 </div>
						 </div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit

			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	//data.field.text = layedit.getContent(editIndex1);
				 	var bannerInfo = data.field;
				 	if(bannerInfo.id){
				 	    var url = "{:U('Consumer/consumerEdit')}";
					}else{
                        var url = "{:U('Consumer/consumerAdd')}";
					}

					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>