<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
				<button  class="layui-btn layui-btn-small" onclick="javascript:window.location.href='{:U('Admin/NewsCit/newsCitAjaxAdd')}' ">
					<i class="layui-icon">&#xe608;</i>添加分类
				</button>
				<form class="layui-form" style="float:right">
					<span style="float:right" >
						<div class="layui-input-inline">
							<input type="text" name="newslb" value="{$_GET['newslb']}" lay-verify="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input">
						</div>
					<button class="layui-btn layui-btn-normal">搜索</button>
					</span>
				</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>新闻分类列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>分类名称</th>
					      <th>分类简介</th> 
					      <th>排序</th> 
						  
					      <th>状态</th>
					      <th>操作</th>
					    </tr> 
					  </thead>
					  <tbody>
					  <foreach name="rs" key="k" item="vo">
					    <tr>
					      <td>{$k+1}</td>
					     
					      <td>{$vo.newslb}</td> 
					      <td>{$vo.lbabs}</td> 
						  <td>{$vo.sort}</td> 
					      <td>
					      <if condition="$vo['status'] eq on">
							 <input class="layui-btn layui-btn-mini layui-btn-normal" type="button" value="显示"/> 
						  <else/>
							<input class="layui-btn layui-btn-mini layui-btn-danger" type="button" value="不显示"/>
						  </if>  
						  </td>
					      <td>
							<a class="layui-btn layui-btn-mini layui-btn-normal"  onclick="javascript:window.location.href='{:U('NewsCit/newsCitEdit',['id'=>$vo['id']])}' "><i class="layui-icon">&#xe642;</i>编辑</a>
							<a data="{$vo.id}" data-s="{$vo.status}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>禁用</a>
					      </td>
					    </tr>
					    </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery 
				//删除
				$('.del').click(function(){
					var id = $(this).attr('data');
					var status = $(this).attr('data-s');
					var url = "{:U('Admin/NewsCit/newsCitAjaxDel')}";
					layer.confirm('确定（显示/不显示）此广告轮播信息吗?', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{id:id,status:status},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										}); 
								  }	
							})
					  });
				})
			});
			function fd_img(obj){
				layer.photos({
					photos: obj, anim:7,shade:[0.5, '#000000']
				});
			}
		</script>
	</body>

</html>