<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>修改广告轮播</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						<input type="hidden" name="id" value="{$rs['id']}" />
						<!-- <div class="layui-form-item"> -->
							<!-- <label class="layui-form-label">轮播图片</label> -->
							<!-- <img id="LAY_demo_upload" src="{$banner_list['img']}" style="height:200px;"  > -->
							<!-- <input type="hidden" name="id" value="{$banner_list['id']}" /> -->
							<!-- <input type="hidden" name="img" id="upLogo" value="{$banner_list['img']}" /> -->
							<!-- <input type="file" name="file" class="layui-upload-file" id="img"> -->
						<!-- </div> -->
						<div class="layui-form-item">
							<label class="layui-form-label">分类标题</label>
							<div class="layui-input-block">
								<input type="text" name="newslb"  required  value="{$rs['newslb']}"
									autocomplete="off" placeholder="请输入分类标题" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">分类描述</label>
							<div class="layui-input-block">
								<input type="text" name="lbabs"  value="{$rs['lbabs']}"
									autocomplete="off" placeholder="请输入分类描述" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">默认排序</label>
							<div class="layui-input-block">
								<input type="text" name="sort" required value="{$rs['sort']}" 
									autocomplete="off" placeholder="请输入排序" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">是否显示</label>
							<div class="layui-input-block">
								<if condition="$rs['status'] eq on">
									<input type="checkbox" checked=""  name="status"  lay-text="ON|OFF" lay-skin="switch">
								<else/>
									<input type="checkbox" name="status"  lay-text="ON|OFF" lay-skin="switch" >
								</if>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">修改</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;
		    	   upLogo.value = res.data.src; 
			    }
			});
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	var bannerInfo = data.field;
					var url = "{:U('NewsCit/newsCitEdit')}";
					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>