<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main" style="margin: 15px;">
			<fieldset class="layui-elem-field">
				<legend>配置列表</legend>
				<div class="layui-field-box" >
					 <form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">LOGO上传</label>
							<img id="LAY_demo_upload" src="{$config['WEB_LOGO']}" style="height:200px;"  >
							<input type="hidden" name="WEB_LOGO" id="upLogo" value="{$config['WEB_LOGO']}" />
							<input type="file" name="file" class="layui-upload-file" id="WEB_LOGO">
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">网站标题</label>
							<div class="layui-input-block">
								<input type="text" name="WEB_TITLE" value="{$config['WEB_TITLE']}"
									autocomplete="off" placeholder="请输入网站标题" class="layui-input">
							</div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">网站标题 英文</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_TITLE_EN" value="{$config['WEB_TITLE_EN']}"
										autocomplete="off" placeholder="请输入网站英文标题" class="layui-input">
							 </div>
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">网站尾部</label>
							<div class="layui-input-block">
								<input type="text" name="WEB_FOOTER" value="{$config['WEB_FOOTER']}"
									autocomplete="off" placeholder="请输入网站尾部" class="layui-input">
							</div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">网站尾部 英文</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_FOOTER_EN" value="{$config['WEB_FOOTER_EN']}"
										autocomplete="off" placeholder="请输入网站尾部 英文" class="layui-input">
							 </div>
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">联系方式</label>
							<div class="layui-input-block">
								<input type="text" name="WEB_PHONE" value="{$config['WEB_PHONE']}"
									autocomplete="off" placeholder="请输入电话" class="layui-input">
							</div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">传真</label>
							 <div class="layui-input-block">
								 <input type="text" name="CHUAN_ZHEN" value="{$config['CHUAN_ZHEN']}"
										autocomplete="off" placeholder="请输入传真号" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">服务时间</label>
							 <div class="layui-input-block">
								 <input type="text" name="TIME" value="{$config['TIME']}"
										autocomplete="off" placeholder="请输入服务时间" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">邮箱</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_EMAIL" value="{$config['WEB_EMAIL']}"
										autocomplete="off" placeholder="请输入邮箱" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">二维码</label>
							 <img id="LAY_demo_upload1" src="{$config['ER_WEI_MA']}" style="height:200px;"  >
							 <input type="hidden" name="ER_WEI_MA" id="upLogo1" value="{$config['ER_WEI_MA']}" />
							 <input type="file" name="file" class="layui-upload-file" id="ER_WEI_MA">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接名称1</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_TITLE_1" value="{$config['WEB_TITLE_1']}"
										autocomplete="off" placeholder="请输入尾部链接名称1" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接名称1 英文</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_TITLE_1_en" value="{$config['WEB_TITLE_1_en']}"
										autocomplete="off" placeholder="请输入尾部链接名称1 英文" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接名称2</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_TITLE_2" value="{$config['WEB_TITLE_2']}"
										autocomplete="off" placeholder="请输入尾部链接名称2" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接名称2 英文</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_TITLE_2_en" value="{$config['WEB_TITLE_2_en']}"
										autocomplete="off" placeholder="请输入尾部链接名称2 英文" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接1</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_VALUE1" value="{$config['WEB_VALUE1']}"
										autocomplete="off" placeholder="请输入尾部链接1" class="layui-input">
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">尾部链接2</label>
							 <div class="layui-input-block">
								 <input type="text" name="WEB_VALUE2" value="{$config['WEB_VALUE2']}"
										autocomplete="off" placeholder="请输入尾部链接2" class="layui-input">
							 </div>
						 </div>

						<hr>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">使用条款</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea layui-hide"  name="WEB_USE_ITEM" lay-verify="content" id="LAY_demo_editor2">{$config['WEB_USE_ITEM']}</textarea>
							</div>
						</div>
						 <div class="layui-form-item layui-form-text">
							 <label class="layui-form-label">使用条款 英文</label>
							 <div class="layui-input-block">
								 <textarea class="layui-textarea layui-hide"  name="WEB_USE_ITEM_EN" lay-verify="content" id="LAY_demo_editor1">{$config['WEB_USE_ITEM_EN']}</textarea>
							 </div>
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">保密与安全</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea layui-hide"  name="WEB_SAFE" lay-verify="content" id="LAY_demo_editor3">{$config['WEB_SAFE']}</textarea>
							</div>
						</div>
						
						 <div class="layui-form-item layui-form-text">
							<label class="layui-form-label">保密与安全 英文</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea layui-hide"  name="WEB_SAFE_EN" lay-verify="content" id="LAY_demo_editor4">{$config['WEB_SAFE_EN']}</textarea>
							</div>
						</div>  

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit="" lay-filter="subConfig">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
				layui.upload({
				    url: "{:U('Config/uploadConfigLogo')}"
				    ,elem: '#WEB_LOGO' //指定原始元素，默认直接查找class="layui-upload-file"
				    ,success: function(res){
				    	   layer.msg(res.msg);
				    	   LAY_demo_upload.src = res.data.src;
				    	   upLogo.value = res.data.src; 
				    }
				});
				layui.upload({
					url:  "{:U('Index/uploadAllImg')}"
					,elem: '#ER_WEI_MA' //指定原始元素，默认直接查找class="layui-upload-file"
					,success: function(res){
						layer.msg(res.msg);
						LAY_demo_upload1.src = res.data.src;
						upLogo1.value = res.data.src;
					}
				});
			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			var editIndex2 = layedit.build('LAY_demo_editor2',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			var editIndex3 = layedit.build('LAY_demo_editor3',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			var editIndex4 = layedit.build('LAY_demo_editor4',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subConfig)', function(data) {
					data.field.WEB_USE_ITEM = layedit.getContent(editIndex2);//使用条款
					data.field.WEB_USE_ITEM_EN = layedit.getContent(editIndex1);//使用条款 英文
					data.field.WEB_SAFE = layedit.getContent(editIndex3);//使用条款 英文
					data.field.WEB_SAFE_EN = layedit.getContent(editIndex4);//使用条款 英文
				 	var configInfo = data.field;
					var url = "{:U('Config/changeConfig')}";
					$.post(url,configInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
								   location.reload();
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>