<include file="Application/Home/View/Public/head2.html"/>
 <div class="container clearfix">
		<div class="inside-right article wow fadeInUp">
			<div class="title clearfix">
				<h4>{$title}</h4>
				<div class="crumbs">
					<a href="{:U('index')}">home page</a>&gt;<a href=";">{$title_d}</a>><span>{$title}</span>
				</div>
			</div>
			<ul class="foreign-list clearfix">
                <li class="wow fadeInUp time01 animated" style="visibility: visible; animation-name: fadeInUp;">
					<foreach name="content" item="vo" >
						<a href="{:U('news3_info',['id'=>$vo['id'],'title'=>$title,'title_d'=>$title_d])}">
							<img src="{$vo['img']}" alt="{$vo['title']}">
							<p>{$vo['title']}</p>
						</a>
					</foreach>
				</li>

			</ul>
		</div>
	</div>
<include file="Application/Home/View/Public/foot2.html"/>
