<include file="Application/Home/View/Public/head2.html"/>
 <div class="container clearfix">
		<div class="inside-right article wow fadeInUp">
			<div class="title clearfix">
				<h4>{$config['WEB_TITLE_EN']}</h4>
				<div class="crumbs">
					<a href="{:U('index')}">home page</a>&gt;<a href="javascript:;">{$title_d}</a>><span>{$title}</span>
				</div>
			</div>
			<div class="content">
				<div class="article-title">
					<h3>{$config['WEB_TITLE_EN'}</h3>
					<!-- <span>2017-07-03</span> -->
				</div>
				<div class="article-content">
					<div class="article-video">
						<div id="mediaplayer"></div>
					</div>
				</div>
				<div style="display: none;"><div class="video-baoan">
				 <video id="example_video_1" class="video-js vjs-default-skin" poster="{$content['img']}" preload="none" controls="controls" width="300" height="150" data-setup="{}">
				  <source src="{$content['video']}" type="video/mp4">
				  <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"> 
				  <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"> 
				 </video>
				</div></div>
			</div>
		</div>
	</div>
<include file="Application/Home/View/Public/foot2.html"/>

