<include file="Application/Home/View/Public/head2.html"/>
	<div class="container clearfix">
		<div class="inside-right article wow fadeInUp">
			<div class="title clearfix">
				<h4>{$title}</h4>
				<div class="crumbs">
					<a href="{:U('index')}">首页</a>&gt;<a href="">{$title_d}</a>><span>{$title}</span>
				</div>
			</div>
			<div class="content">
				<div class="article-content">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
						<tbody>
						<div class="article-title">
						<h3>{$info['title_en']}</h3>
						</div>
						{$info['content_en']}
						</tbody>
					</table>
					&nbsp;<p></p>
				</div>
			</div>
		</div>
	</div>


<include file="Application/Home/View/Public/foot2.html"/>


