<include file="Application/Home/View/Public/head2.html"/>
<div class="inside-banner service-banner clearfix">
		<div class="container">
			<h2 class="wow fadeInUp">诚聘英才</h2>
			<p class="wow fadeInUp"><span>shanghai security</span><span>careers</span></p>
		</div>
	</div>
	<div class="container clearfix">
		<div class="sub-nav job-style wow fadeInLeft">
			<h3>岗位名称</h3>
			<ul>
				<foreach name="type" item="vo" >
					<li>
						<a href="javascript:;" title="{$vo['title_en']}"><span>&gt;</span>{$vo['title_en']}</a>
						<ul>
							<foreach name="vo['content']" item="voo" >
								<li><a href="{:U('recruit',['recruit_id'=>$voo['id']])}">{$voo['title_en']}</a></li>
							</foreach>
						</ul>
					</li>
				</foreach>
			</ul>
		</div>
		<div class="inside-right wow fadeInRight">
			<div class="title clearfix">
				<h4>{$content['title_en']}</h4>
				<div class="crumbs">
					<a href="index.html">首页</a>&gt;<a href="javascript:;">诚聘英才</a>&gt;<span>{$content['title_en']}</span>
				</div>
			</div>
			<div class="content message">
				{$content['content_en']}





			</div>
		</div>
	</div>
<include file="Application/Home/View/Public/foot2.html"/>