<include file="Application/Home/View/Public/head2.html"/>
	<div class="container clearfix">
		<div class="inside-right article wow fadeInUp">
			<div class="title clearfix">
				<h4>search</h4>
				<div class="crumbs">
					<a href="{:U('index')}">home page</a>&gt;<a href="">search</a>
				</div>
			</div>
			<div class="content">
				<div class="article-content">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
						<div class="search">
							<div class="search-prompt wow fadeInUp">Find the key for you "{$keyword}" The following articles are as follows：</div>
							<foreach name="content" item="vo" >
								<div class="search-box wow fadeInUp">
									<h3 class="search-box-title"><a href="{:U('news1_info',['id'=>$vo['id']])}">{$vo['title_en']}</a></h3>
									<p class="search-box-summary">
										　 {$vo['note_en']}
									</p>
								</div>
							</foreach>

						</div>
					</table>
					&nbsp;<p></p>
				</div>
			</div>
		</div>
	</div>


<include file="Application/Home/View/Public/foot2.html"/>


