.integral {width:590px; margin:10px auto;display: table;}
.yourname {font-size: 22px; color: #202020;}
.your-integral {font-size: 14px; color: #202020;line-height: 35px;}
.coupon {font-size: 14px; color: #202020;line-height: 35px;float: left;}
.integral-select {width:150px; height:24px; border: 1px solid #202020; outline: none; margin-left: 10px;float:left;margin-top: 5px;}
.integral span {font-size: 12px; color: #c53336;float: left; margin-left: 10px;line-height: 35px;}
.rule {font-size: 14px; color: #202020; line-height: 30px;}