<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Table</title>
<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
<link rel="stylesheet"
	href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field">
			<legend>用户资金列表</legend>
			<div class="layui-field-box">
				<table class="layui-table">
					<thead>
						<tr>
							<th>#</th>
							<th>手机号码</th>
							<th>邮箱</th>
							<th>昵称</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{$member_list['id']}</td>
							<td>{$member_list['phone']}</td>
							<td>{$member_list['email']}</td>
							<td>{$member_list['nick']}</td>
						</tr>
					</tbody>
				</table>
				<br />
				<hr />
				<br />
				<form class="layui-form" action="" id="member_form">
					<table class="layui-table">
						<thead>
							<tr>
								<th>币种名称</th>
								<th>持有数量</th>
								<th>冻结数量</th>
								<th>充值地址</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="currency_user_list" id="vo">
							<tr>
								<td>{$vo['name']}({$vo['mark']})</td>
								<td><input type="number" name="number" id="num_{$vo['currency_id']}"
									value="{$vo['num']}" lay-verify="number" autocomplete="off"
									class="layui-input"></td>
								<td><input type="number" name="number"
									id="forzen_num_{$vo['currency_id']}" value="{$vo['forzen_num']}"
									lay-verify="number" autocomplete="off" class="layui-input"></td>
								<td>{$vo['coin_in_url']}</td>
								<td><a class="layui-btn layui-btn-mini"
									onclick="update({$vo['currency_id']})"><i class="layui-icon">&#xe642;</i>修改</a></td>
							</tr>
							</volist>
						</tbody>
					</table>
				</form>
			</div>
		</fieldset>
	</div>
	<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
	<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			   form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
			//监听提交
			form.on('submit(subBanner)', function(data) { 
					var url = "{:U('Member/addMember')}";
					$.post(url,data.field,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					});
				return false;
			});
		});
		function update(id){
			layer.confirm('确定修改？', {
		  btn: ['确定','取消'], //按钮
		  title: '修改'
		}, function(){
			var member_id="{$member_list['id']}";
			var num=$("#num_"+id).val();
			var forzen_num=$("#forzen_num_"+id).val();
		  $.post("{:U('Member/showCurrencyUserList')}",{currency_id:id,member_id:member_id,num:num,forzen_num:forzen_num},function(data){
					   if(data['status'] == 'success'){
						   layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									setTimeout(function(){location.reload();},1000);
								}); 
						   
					   }else{
						   layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
					   }
				})
		}, function(){
		  layer.msg('已取消');
		});

		}
		</script>
</body>

</html>