<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						 <input type="hidden" name="class" value="{$class_}">
						 <div class="layui-form-item">
							 <label class="layui-form-label">下线等级</label>
							 <div class="layui-input-block">
								 <select name="grade" lay-filter="aihao">
									 <option>请选择</option>
									 <foreach name="list" key="k" item="vo">
										 <option value="{$vo['key']}" {$vo['disabled']} {$vo['selected']}>{$vo['value']}</option>
									 </foreach>
								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">代理等级</label>
							 <div class="layui-input-block">
								 <select name="class_id" lay-filter="aihao">
									 <option>请选择</option>
									 <foreach name="class" key="k" item="vo">
										 <option value="{$vo['id']}" {$vo['disabled']} {$vo['selected']}>{$vo['name']}</option>
									 </foreach>
								 </select>
							 </div>
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">推荐红包金额</label>
							<div class="layui-input-block">
								<input type="text" name="price"  required
									autocomplete="off" placeholder="请填写红包金额" class="layui-input" value="{$rule['price']}">
							</div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">可领红包数量</label>
							 <div class="layui-input-block">
								 <input type="text" name="num"  required
										autocomplete="off" placeholder="请填写可领取的红包数量" class="layui-input" value="{$rule['num']}">
								 <p>为空为无限个</p>
							 </div>
						 </div>
						 <div class="layui-form-item layui-form-text">
							 <label class="layui-form-label">获得红包缘由描述</label>
							 <div class="layui-input-block">
								 <textarea name="reply" placeholder="请输入内容" class="layui-textarea">{$rule['reply']}</textarea>
							 </div>
						 </div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;
                    upLogo.value = res.data.src;
			    }
			});

			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	data.field.note = layedit.getContent(editIndex1);
				 	var bannerInfo = data.field;
				 	if(bannerInfo.id){
				 	    var url = "{:U('Class/classRuleEdit')}";
					}else{
                        var url = "{:U('Class/classRuleAdd')}";
					}

					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>