<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote" style="height:28px;">
				<button  class="layui-btn layui-btn-small" onclick="javascript:window.location.href='{:U('Class/classRuleAdd',['id'=>$id])}' ">
					<i class="layui-icon">&#xe608;</i>添加规则
				</button>
				<form class="layui-form" style="float:right">
					<span style="float:right" >
						<div class="layui-input-inline">
							<input type="text" name="title" value="{$_GET['title']}" lay-verify="title" autocomplete="off" placeholder="请输入标题名称" class="layui-input">
						</div>
					<button class="layui-btn layui-btn-normal">搜索</button>
					</span>
				</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>推荐规则列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>层级名称</th>
					      <th>推荐代理类别</th>
					      <th>获得红包数量</th>
					      <th>次数</th>
					      <th>获得红包缘由描述</th>

					      <th>操作</th>
					    </tr> 
					  </thead>
					  <tbody>
					  <foreach name="info" key="k" item="vo">
					    <tr>
					      <td>{$vo.grade_name}</td>
						  <td>{$vo.class_name}</td>
						  <td>{$vo.price}</td>
						  <td>{$vo.num}</td>
						  <td>{$vo.reply}</td>
					      <td>
							<a class="layui-btn layui-btn-mini layui-btn-normal"  onclick="javascript:window.location.href='{:U('Admin/Class/classRuleEdit',['id'=>$vo['id']])}' "><i class="layui-icon">&#xe642;</i>编辑</a>
							<a data="{$vo.id}"  class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>
					      </td>
					    </tr>
					    </foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
					$ = layui.jquery 
				//删除
				$('.del').click(function(){
					var id = $(this).attr('data');
					var url = "{:U('Admin/Class/classRuleDel')}";
					layer.confirm('确定删除该条规则吗', {
						  icon: 3,
						  skin: 'layer-ext-moon',
						  btn: ['确认','取消'] //按钮
						}, function(){
							$.post(url,{id:id},function(data){
								if(data.status == 'error'){
									  layer.msg(data.msg,{icon: 5});//失败的表情
									  return;
								  }else{
									  layer.msg(data.msg, {
										  icon: 6,//成功的表情
										  time: 2000 //2秒关闭（如果不配置，默认是3秒）
										}, function(){
										   location.reload();
										}); 
								  }	
							})
					  });
				})
			});
			function fd_img(obj){
				layer.photos({
					photos: obj, anim:7,shade:[0.5, '#000000']
				});
			}
		</script>
	</body>

</html>