<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>代理详情编辑</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						<div class="layui-form-item">
							<label class="layui-form-label">代理名称</label>
							<div class="layui-input-block">
								<input type="text" name="name"  required
									autocomplete="off" placeholder="代理名称" class="layui-input" value="{$info['name']}">
							</div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">别名</label>
							 <div class="layui-input-block">
								 <input type="text" name="name1"  required
										autocomplete="off" placeholder="别名" class="layui-input" value="{$info['name1']}">
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">标题一</label>
							 <div class="layui-input-block">
								 <input type="text" name="title1"  value="{$info['title1']}" required
										autocomplete="off" placeholder="请输入标题一" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">标题二</label>
							 <div class="layui-input-block">
								 <input type="text" name="title2"  value="{$info['title2']}" required
										autocomplete="off" placeholder="请输入标题二" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">标题三</label>
							 <div class="layui-input-block">
								 <input type="text" name="title3"  value="{$info['title3']}" required
										autocomplete="off" placeholder="请输入标题三" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">颜色</label>
							 <div class="layui-input-block">
								 <input type="text" name="color"  value="{$info['color']}" required
										autocomplete="off" placeholder="请输入颜色" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">价格</label>
							 <div class="layui-input-block">
								 <input type="text" name="price"  value="{$info['price']}" required
										autocomplete="off" placeholder="请输入代理售价" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">首页图片</label>
							 <img id="LAY_demo_upload2" src="{$info['img2']}" style="height:200px;"  >
							 <input type="hidden" name="img2" id="upLogo2" value="{$info['img2']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img2">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品页图片</label>
							 <img id="LAY_demo_upload" src="{$info['img']}" style="height:200px;"  >
							 <input type="hidden" name="img" id="upLogo" value="{$info['img']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品页装饰</label>
							 <img id="LAY_demo_upload1" src="{$info['img1']}" style="height:200px;"  >
							 <input type="hidden" name="img1" id="upLogo1" value="{$info['img1']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img1">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">新手活动是否开启</label>
							 <div class="layui-input-block">
								 <select name="new_key" lay-filter="aihao">
									 <option>请选择</option>
									 <option value="1" {$info['y']}>开启</option>
									 <option value="0" {$info['n']}>不开</option>

								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">新手红包面值</label>
							 <div class="layui-input-block">
								 <input type="text" name="new_price"  value="{$info['new_price']}" required
										autocomplete="off" placeholder="请输入新手红包面值" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">新手红包发放天数</label>
							 <div class="layui-input-block">
								 <input type="text" name="new_num"  value="{$info['new_num']}" required
										autocomplete="off" placeholder="请输入新手红包发放天数" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">反本手续费</label>
							 <div class="layui-input-block">
								 <input type="text" name="new_charge"  value="{$info['new_charge']}" required
										autocomplete="off" placeholder="请输入范本手续费" class="layui-input" >%====
							 </div>
						 </div>
						 <div class="layui-form-item layui-form-text">
							 <label class="layui-form-label">备注</label>
							 <div class="layui-input-block">
								 <textarea name="note" placeholder="请输入内容" class="layui-textarea">{$info['note']}</textarea>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品详情</label>
							 <div class="layui-input-block">
								 <textarea class="layui-textarea layui-hide"  name="text" lay-verify="text" id="LAY_demo_editor1" >{$info['text']}</textarea>
							 </div>
						 </div>
						 <div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;
                    upLogo.value = res.data.src;
			    }
			});
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img1' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    layer.msg(res.msg);
                    LAY_demo_upload1.src = res.data.src;
                    upLogo1.value = res.data.src;
                }
            });
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img2' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    layer.msg(res.msg);
                    LAY_demo_upload2.src = res.data.src;
                    upLogo2.value = res.data.src;
                }
            });

			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	data.field.text = layedit.getContent(editIndex1);
				 	var bannerInfo = data.field;
					var url = "{:U('Class/classAjaxAdd')}";
					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>