<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
			<fieldset class="layui-elem-field">
				<legend>{$title}</legend>
				<div class="layui-field-box">
					 <form class="layui-form" action="">
						 <input type="hidden" name="id" value="{$id}">
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品图片1(封面图)</label>
							 <img id="LAY_demo_upload" src="{$good['img1']}" style="height:200px;"  >
							 <input type="hidden" name="img1" id="upLogo" value="{$good['img1']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img">
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品图片2</label>
							 <img id="LAY_demo_upload2" src="{$good['img2']}" style="height:200px;"  >
							 <input type="hidden" name="img2" id="upLogo1"  value="{$good['img1']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img2">
						 </div>

						 <div class="layui-form-item">
							 <label class="layui-form-label">商品图片3</label>
							 <img id="LAY_demo_upload3" src="{$good['img3']}" style="height:200px;"  >
							 <input type="hidden" name="img3" id="upLogo3" value="{$good['img3']}" />
							 <input type="file" name="file" class="layui-upload-file" id="img3">
						 </div>

						 <div class="layui-form-item">
							 <label class="layui-form-label">商品图片4</label>
							 <img id="LAY_demo_upload4" src="{$good['img4']}" style="height:200px;"  >
							 <input type="hidden" name="img4" id="upLogo4" value="{$good['img4']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img4">
						 </div>

						 <div class="layui-form-item">
							 <label class="layui-form-label">商品图片5</label>
							 <img id="LAY_demo_upload5" src="{$good['img5']}" style="height:200px;"  >
							 <input type="hidden" name="img5" id="upLogo5"  value="{$good['img5']}"/>
							 <input type="file" name="file" class="layui-upload-file" id="img5">
						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">商品标题</label>
							<div class="layui-input-block">
								<input type="text" name="title"  required  
									autocomplete="off" placeholder="商品标题" class="layui-input" value="{$good['title']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">商品分类</label>
							<div class="layui-input-block">
								<select name="type" lay-filter="aihao">
									<option>请选择</option>
									<foreach name="data" key="k" item="vo">
									<option value="{$vo['id']}" {$vo['disabled']} {$vo['selected']}>{$vo['title']}</option>
									</foreach>
								</select>
							</div>
						</div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">支付方式</label>
							 <div class="layui-input-block">
								 <select name="coin" lay-filter="aihao">
									 <option>请选择</option>
									 <foreach name="list" key="k" item="vo">
										 <option value="{$vo['id']}" {$vo['disabled']} {$vo['selected']}>{$vo['name']}</option>
									 </foreach>
								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">

							 <label class="layui-form-label">商品售价</label>
							 <div class="layui-input-block">
								 <input type="text" name="price_sale"  value="{$good['price_sale']|default='0'}" required
										autocomplete="off" placeholder="请输入商品售价" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品标价</label>
							 <div class="layui-input-block">
								 <input type="text" name="price_mark"  value="{$good['price_mark']|default='0'}" required
										autocomplete="off" placeholder="请输入商品标价" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">商品库存</label>
							 <div class="layui-input-block">
								 <input type="text" name="count"  value="{$good['count']|default='0'}" required
										autocomplete="off" placeholder="请输入商品库存" class="layui-input" >
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">是否上架</label>
							 <div class="layui-input-block">
								 <select name="state" lay-filter="aihao">

										 <option value="1" {$good['y']}>上架</option>
										 <option value="0" {$good['n']}>下架</option>

								 </select>
							 </div>
						 </div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">默认排序</label>
							 <div class="layui-input-block">
								 <input type="text" name="order"  value="{$good['order']|default='0'}" required
										autocomplete="off" placeholder="请输入排序" class="layui-input" value="{$good['value']}">
								 <p>数值越大越靠前</p>
							 </div>

						 </div>
						<div class="layui-form-item">
							<label class="layui-form-label">商品详情</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea layui-hide"  name="note" lay-verify="note" id="LAY_demo_editor1" >{$good['note']}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="subBanner">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
		layui.use(['form','upload','layedit','laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				$ = layui.jquery,
				layedit = layui.layedit
			layui.upload({
			    url:  "{:U('Index/uploadAllImg')}"
			    ,elem: '#img' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,success: function(res){
		    	   layer.msg(res.msg);
		    	   LAY_demo_upload.src = res.data.src;
                    upLogo.value = res.data.src;
			    }
			});
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img2' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    layer.msg(res.msg);
                    LAY_demo_upload2.src = res.data.src;
                    upLogo1.value = res.data.src;
                }
            });
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img3' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    console.log(res);
                    layer.msg(res.msg);
                    LAY_demo_upload3.src = res.data.src;
                    upLogo3.value = res.data.src;
                }
            });
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img4' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    layer.msg(res.msg);
                    LAY_demo_upload4.src = res.data.src;
                    upLogo4.value = res.data.src;
                }
            });
            layui.upload({
                url:  "{:U('Index/uploadAllImg')}"
                ,elem: '#img5' //指定原始元素，默认直接查找class="layui-upload-file"
                ,success: function(res){
                    layer.msg(res.msg);
                    LAY_demo_upload5.src = res.data.src;
                    upLogo5.value = res.data.src;
                }
            });
			var editIndex1 = layedit.build('LAY_demo_editor1',{
				uploadImage:{url:"{:U('Index/uploadAllImg')}"}
			}); 
			//监听提交
			form.on('submit(subBanner)', function(data) { 
				 	data.field.note = layedit.getContent(editIndex1);
				 	var bannerInfo = data.field;
				 	if(bannerInfo.id){
				 	    var url = "{:U('Shop/goodEdit')}";
					}else{
                        var url = "{:U('Shop/goodAdd')}";
					}

					$.post(url,bannerInfo,function(data){
						if(data.status == 'error'){
							  layer.msg(data.msg,{icon: 5});//失败的表情
							  return;
						  }else if(data.status == 'success'){
							  layer.msg(data.msg, {
								  icon: 6,//成功的表情
								  time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									self.location=document.referrer;
								}); 
						  }
					})
				return false;
			});
		});
		</script>
	</body>

</html>